.element__info-like {
  background-image: url(../../../../images/element/heart.png);
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  transition: opacity .2s linear;
  border: 0;
}

.element__info-like:hover {
  opacity: .5;
}

.element__info-like.activeheart {
  background-image: url(../../../../images/element/Union.png);
}