.profile__add-btn {
  background-color: transparent;
  align-self: center;
  justify-self: flex-end;
  width: 150px;
  height: 52px;
  margin: 0;
  padding: 0;
  grid-column: 5;
  cursor: pointer;
  transition: opacity 0.2s linear;
  border: 2px solid white;
  border-radius: 2px;
  background: center / 22px 22px  no-repeat url(../../../images/profile/addbtnplus.svg);
  -webkit-appearance: none;
}

.profile__add-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 1045px) {
  .profile__add-btn {
    width: 100%;
    margin-top: 30px;
    background-size: 16px 16px;
  }
}