.profile__edit-btn {
  background-image: url(../../../images/profile/editbtnpencil.svg);
  width: 24px;
  height: 24px;
  background-color: transparent;
  align-self: center;
  justify-self: flex-end;
  cursor: pointer;
  transition: opacity .1s linear;
  background-size: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid white;
  -webkit-appearance: none;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 1045px) {
  .profile__edit-btn {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    align-self: center;
    justify-self: flex-start;
    margin-bottom: 5px;
    margin-left: 10px;
  }
}
