.profile__info {
  padding: 0;
  margin: 22px 0 0 30px;
  display: grid;
  grid-template-columns: 294px 42px;
  grid-template-rows: 50px 18px;
  row-gap: 5px;
}

@media screen and (max-width: 1045px) {
  .profile__info {
    grid-template-columns: 1fr 24px;
    row-gap: 2px;
    margin-top: 28px;
    max-width: 282px;
  }
}