.element__trash {
  border: 0;
  background: center / cover no-repeat url(../../../images/element/btnTrashElement.svg);
  background-color: transparent;
  background-position: 50% 50%;
  width: 18px;
  height: 19px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: opacity .1s linear;
  cursor: pointer;
  object-fit: cover;
}

.element__trash:hover {
  opacity: .6;
}